<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cost Data</title>
  </head>
  <body>
    <h1>Cost Data</h1>
    <p>Latest date is: <strong>{{ lastData.dateModel }}</strong></p>
    <p>Latest cost is: <strong>Rp {{ lastData.costModel }}</strong></p>
    <p>Highest cost from database is: <strong>Rp {{ biggest.costModel }}</strong></p>

    <form class="" action="{% url 'cost' %}" method="post">
    {% csrf_token %}
      <p>
        <label>Date:</label>
        <input type="text" name="dateValue" value="{% now "Y-m-d" %}"/>
      </p>
      <p>
        <label>Cost:</label>
        <input type="text" name="costValue" value="0"/>
      </p>
      <input type="submit" value="Submit"/>

    </form>
  </body>
</html>
